<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to "#{event.name}", host_event_path(@host, event) %>
      <%= link_to "X", host_event_path(@host, event), :method => 'delete' %>
    </li>
  <% end %>
</ul>