<div id="event_camp_site_form" class="tab-pane">
	<h2>Congratulations, you have successfully created a camping trip!</h2>
	<h4>Now before you go ahead and take too much time to pat yourself on the back, there are a few things you should know before proceeding into the wilderness. Creating the trip was only half the battle, now you have to fill it up full of useful items. The way this whole shindig works is that you will add all of the items that you can think of for the camping trip. Then, you will invite your friends to come camping with you. While this app can't help you find good friends, if you already have some, you'll be happy to know that they don't need to sign up for this app. Your invitation alone will provide a link for them to access your custom camping trip page. Then, all of you will add camping gear to your hearts' content.  Afterwards, you and all of your friends can go through the list of items and figure out who will bring what. We hope that this makes things convenient for you, so even if you do get eaten by a bear, you had a truly nice time beforehand, knowing that packing was not a hassle and that nobody brought duplicate items. Have fun and be safe in the wilderness!</h4>
	<br/>
	<br/>
	<p>All the best,</p>
	<p>Camp Collab Team</p>
	<br/>
	<p>Disclaimer: Camp Collab Team is not responsible for you having bad friends.</p>
</div>
<%= link_to host_event_path(@host, @event) %>
