<div id="event_camp_site_form" class="tab-pane">
	<h2>Congratulations, you did it!</h2>
	<h4>But before you march off boldy into the unknown, there are a few things you should know about.</h4>
	<ul>
		<li>Use the "Invite Guests" field to invite your awesome friends to come camping.</li>
		<li>Your friends do not need to sign up for our service! You only need to send them an invitation.</li>
		<li>Collaborate with your friends by adding gear and food to your camping trip using the "Add Item" field.</li>
		<li>Take responsiblility for bringing these items by clicking on the "I will bring this" button next to an item.</li>
		<li>Your progress bar will fill up as more items are claimed.</li>
		<li>Soon, everyone will know what to bring and no one will bring any more than they need! Genius!</li>
	</ul>
		<h4>Here at Camp Collab, we know that camping is fun but packing is not. We truly hope that this makes your life easier. Have fun and be safe in the great outdoors!</h4>
  <br/>
	<p>All the best,</p>
	<p>Camp Collab Team</p>
	<br/>
</div>
<%= link_to "Let me get started already!", host_event_path(@host, @event), class: "btn btn-large btn-primary"  %>


