<%- model_class = Item -%>



  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= check_box_tag(:important) %></td>
      <td><%= link_to "X", event_item_path(@event, item), :method => :get, :remote =>true, :class => 'dlt-item'%></td>
    </tr>
  <% end %>


