<ul class= "item-list">
  <% @items.each do |item| %>
    <li>
      <%= item.name %>

      <%= item.price %>

      <% if item.important == false %><%= link_to "Mark Important", event_item_path(@event, item, :item => {:important => true}), :method=> :put%><% end %>
      <% if item.purchased == false %><%= link_to "Purchased", event_item_path(@event, item, :item => {:purchased => true}), :method=> :put%><% end %>

    </li>
  <% end %>
</ul>