.landing_page_link {
  color: white;
}

#logo {
  text-align: center;
}

#logoimg {
  margin: 0 auto;
}

#events_page_tabs{
  max-width: 700px;
  margin: 0 auto;
}

#events_page_header {
  text-align: center;
}

td.highlight {
  background-color: #63D453 !important;
}

.event-delete {
  float: right;
}