.landing_page_link {
  color: white;
}

#logo {
  text-align: center;
}

#logoimg {
  margin: 0 auto;
}

#events_page_tabs{
  max-width: 700px;
  margin: 0 auto;
}

#events_page_header {
  text-align: center;
}

td.highlight {
  background-color: #63D453 !important;
}

.event-delete {
  float: right;
}

/*#add_guest_form form, #add_item_form form{
  text-align: center;
}*/

/*#add_guest_form form, #add_item_form form{
  text-align: center;
}*/

#add_guest_form form input[type=text], #add_item_form form input[type=text] {
  width: 100%;
}


#map-wrapper{
  width: 200px;
}

#invite_guests h4, #add_items h4 {
  text-align: center;
}

